.headLine {
  .unbound {
    font-weight: 100;
    }

  font-size: var(--font-size-fluid-4);
}
.subHeadline,
.blogTitle {
  font-family: var(--font-sans);

}

.subHeadline {
  font-size: var(--font-size-fluid-2);
  font-weight: 400;
}

.blogTitle {
  margin-block-start: var(--size-6);
  margin-block-end: var(--size-6);
  font-size: var(--font-size-fluid-1);
}